@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');



* {margin: 10; padding: 10; box-sizing: border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;  
    background: url("../static/img/camera.jpg") no-repeat center top;
    background-size: cover;
}
.font {
    font-size: 25px;
    margin: auto;
    padding: 10;

}
.btn {
    top:20px;
    left:30px;
    display: inline-block;
    margin: 10 auto;
    padding: 5;
   
}
